div{
    margin: 30px;
}
body{
    background-image:url("https://cutewallpaper.org/21/website-wallpaper-backgrounds/Cool-Website-Background-Images-,-Best-Background-Images-,-HD-.jpg");
}

h1{
    text-align:center;
}
    

.contact{
    text-align: center;
}
#b{
    text-align: center;
}
#pic{
    width:75%
}
#O{
    text-align: center
}

